<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/load-tr.css') }}">
</head>
<body>
    <div class="container">
        <h1>Transactions</h1>
        <form id="monthForm" method="get" action="/load_transaction">
            <label for="month">Select Month:</label>
            <select id="month" name="month">
                <option value="1" {% if selected_month == 1 %}selected{% endif %}>January</option>
                <option value="2" {% if selected_month == 2 %}selected{% endif %}>February</option>
                <option value="3" {% if selected_month == 3 %}selected{% endif %}>March</option>
                <option value="4" {% if selected_month == 4 %}selected{% endif %}>April</option>
                <option value="5" {% if selected_month == 5 %}selected{% endif %}>May</option>
                <option value="6" {% if selected_month == 6 %}selected{% endif %}>June</option>
                <option value="7" {% if selected_month == 7 %}selected{% endif %}>July</option>
                <option value="8" {% if selected_month == 8 %}selected{% endif %}>August</option>
                <option value="9" {% if selected_month == 9 %}selected{% endif %}>September</option>
                <option value="10" {% if selected_month == 10 %}selected{% endif %}>October</option>
                <option value="11" {% if selected_month == 11 %}selected{% endif %}>November</option>
                <option value="12" {% if selected_month == 12 %}selected{% endif %}>December</option>
            </select>
            <input type="submit" value="Go">
        </form>
        
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Remarks</th>
                    <th>Amount</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction[1] }}</td>
                    <td>{{ transaction[2] }}</td>
                    <td>{{ transaction[3] }}</td>
                    <td>{{ transaction[4] }}</td>
                    <td>{{ transaction[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
